!<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/home.css">
  <link rel="icon" href="/images/adphi.png" type="image/png" sizes="16x16">

</head>
<body>

  <h2>
    <%- include('templates/header.ejs'); %>
  </h2>

  <h4 class="the-header">
    Welcome to the <span class="adphi">Alpha Delta Phi</span> Pool Leaderboard
  </h4>


<div id="navigation-buttons">
  <a href="/submitGame" class="nav-button">Submit Match</a>
  <a href="/leaderboard" class="nav-button">Leaderboard</a>
  <!--<a href="/headToHead" class="nav-button">Head To Head</a>-->
  <a href="/superlatives" class="nav-button">Superlatives</a>
  <a href="/rules" class="nav-button">Official Rules</a>
  <!--<a href="/patchNotes" class="nav-button">Patch Notes</a>-->
</div>
  

</body>
</html>