!<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patch Notes</title>
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/patchNotes.css">
</head>
<body>

  <h2>
    <%- include('templates/header.ejs'); %>
  </h2>

  <h1 class="top">
    Patch Notes
  </h1>

  <div class="note">
    <p class="date">8/30</p>
    <ul class="list">
        <li class="content">Fixed date, and added time of match</p>
        <li class="content">Added home screen, patch notes, rules, superlatives pages</p>
        <li class="content">Changed submit game button to Home Page</p>
        <li class="content">Made simple style changes</p>
    </ul>
    </div>

<!--        <li class="content"></p>
-->

</body>
</html>