!<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rules</title>
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/rules.css">
</head>
<body>

  <h2>
    <%- include('templates/header.ejs'); %>
  </h2>

  <h1 class="top">
    Official Rules
  </h1>

  <h4>We play by the official 8 ball amateur rules, however a few house rule caveats and frequently disputed situations will be made clear here</h3>    

  <h3>Open Table Play</h3>
  <ul>
    <li>In order to claim solids or stripes, a player must call and sink the intended ball into the intended pocket without scratching. If they scratch, the table is still open, and the opponent has the ball in hand.</li>
    <li>When the table is open, a player may combo with any ball but the 8 ball. A solid to stripe combo is legal.</li>
  </ul>

  <h3>Closed Table Play</h3>
  <ul>
    <li>The cue ball must first connect with a ball of the shooter’s intended group. The ball the cue ball hits can then connect with any ball on the table.</li>
    <li>If the shooter correctly sinks their intended shot, however, also one of the opponents balls is pocketed, it is a foul and the opponent has the table. However, not ball in hand for the opponent.</li>
  </ul>

  <h3>Scratching</h3>
  <ul>
    <li>A scratch occurs when the shooter pockets the cue ball, makes initial cue ball contact with a ball of the opposing group, or the cue ball does not make contact with 3 walls.</li>
    <li>On a scratch, the cue ball is placed behind the same shooting line used for breaking, and the player must shoot towards the larger side of the table. If a ball is on the shooting line, if the majority is on the larger side it is legal to contact.</li>
  </ul>

  <h3>Winning</h3>
  <ul>
    <li>If a player pockets the cue ball and the 8 ball is also pocketed, they lose.</li>
    <li>If a player pockets the cue ball, and the 8 ball is not pocketed, it is ball in hand for the opponent and the game continues.</li>
  </ul>

  <h3>Special Situations</h3>
  <ul>
    <li>If the cue ball leaves the table, it is ball in hand for the opponent.</li>
    <li>If a game ball leaves the table, it is pocketed, and loss of turn.</li>
    <li>If the cue ball leaves the table, hits a spectator, and caroms back onto the table, play continues as if it never left the table.</li>
    <li>If a player accidentally makes contact with the cue ball, simply return the cue ball to the previous location. This isn’t the World Cup of Pool.</li>
  </ul>

  

</body>
</html>