html, body {
    margin:0;
    
    padding:0;
  }



#navigation-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-button {    
    display: inline-block;
    margin: 10px 25vw;
    padding: 10px 20px;
    border: 4px solid darkgray;
    border-radius: 10px;

    transition: background 0.3s, color 0.3s;
    background: linear-gradient(to left, rgb(14, 81, 14), rgb(194, 225, 194));

    text-align: center;
    color: rgb(6, 41, 17);
    text-decoration: none;
    font-size: 3.5vw;
    font-family: "Arial", sans-serif;
    font-weight: 700;

    @media (max-width: 840px) {
        font-size: 5.5vw; /* increase font size as browser width decreases */
        margin: 10px 10vw;

    }

}

.nav-button:hover {
    background: linear-gradient(to left, rgb(21, 116, 21), rgb(205, 246, 205));
    /*color: rgb(219, 205, 205);*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

    /*font-weight: 900;*/

}

.the-header {
    margin-top: 4rem;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
    margin-bottom: 10px;


    text-align: center;
    color: rgb(6, 41, 17);
    font-family: "Arial", sans-serif;
    font-weight: 700;

    font-size: 4vw;


    @media (max-width: 840px) {
        font-size: 6vw; /* increase font size as browser width decreases */
    }

}

.adphi {
    color:rgb(9, 64, 9);
}
