html, body {
  margin:0;
  
  padding:0;
}
h1 {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid black;
}

h1.matchHistory {
  margin-top: 0px;
  font-size: 25px;
}

.row2{
  display: flex;
  border-bottom: 3px solid black;

}

.flex-item{
  box-sizing: border-box;
  flex: 1;
  font-size: 20px;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  margin-left: 10px;



}

.flex-item.rating {
  border-right: 3px solid black;
}


.match-box{
  border-bottom: 3px solid black;
  font-size: 15px;
  background-color: rgb(247, 163, 163);
}

.top, .bottom{
  display: flex;
}

.match-item.left, .winners, .losers {
  flex: 2;
  margin-left: 10px;
}

.match-item.right {
  flex: 1;
}

.match-item.left.top, .match-item.right.top{
  margin-bottom: 2px;
}

.match-box.highlight {
  background-color: rgb(166, 241, 166);
}

.winners {
  display: flex;
  margin-bottom: 0px;
}

.match-item.left.top.bottom, .match-item.right.bottom.bottom {
  margin-top: 5px;
}

#helplol {
  margin-bottom: 10px;
}

